.itemsListBox {
    width: 60%;
    overflow-y: auto;
}

.itemsListBtnRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    justify-content: center;
    width: 100%;
}

.itemsListBtn {
    margin-bottom: 20px;
}

.listGroupFixedHeight {
    min-height: 350px;
    max-height: 350px;
    overflow-y: auto;
}
